/**основные цвета**/
:root {
  --brand-color-title: #212121;
  --brand-color-text: #757575;
  --brand-color-substrate: #2f303a;
  --brand-color-basic: #2196f3;
  --brand-color-name: #ffffff;
  --brand-color-line: #ececec;
  --brand-color-back: #f5f4fa;
  --brand-color-nummer: rgba(245, 244, 250, 1);
}
/**изменения цвета кнопки**/
.header .color-block:hover,
.header .color-block:focus,
.header .color-block-a:hover,
.header .color-block-a:focus {
  background-color: var(--brand-color-name);
  color: var(--brand-color-basic);
}
.button .button-alle:hover,
.button .button-alle:focus {
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
  box-shadow: 0 2px 2px 0 var(--brand-color-text);
}
.adress .footer-a:hover,
.adress .footer-a:focus {
  color: var(--brand-color-name);
}
.poster .poster-blank:hover,
.poster .poster-blank:focus {
  display: flex;
  box-shadow: 0px 4px 4px 0px var(--brand-color-substrate);
}
/**.button .button-alle:hover,
.button .button-alle:focus {
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
}**/

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  font-family: Roboto;
  color: var(--brand-color-title);
  font-size: 14px;
  line-height: 1.72;
  background-color: var(--brand-color-name);
  letter-spacing: 0.03em;
  /**width: 1600px;**/
  /**border-bottom: 1600px;**/
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-help {
  padding-bottom: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /**padding-top: 94px;
  padding-bottom: 94px;**/
}
/**верхняя линия**/
.header {
  /**width: 1600px;
  height: 80px;**/
  border: 1px solid var(--brand-color-line);
}
.header-container {
  width: 1200px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.web-studio {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
  /**width: 145px;
  height: 31px;**/
  margin-right: 93px;
  /**display: flex;**/
}
.heder-web {
  color: var(--brand-color-title);
}
.footer-studio {
  color: var(--brand-color-name);
}
.color-block-a {
  color: var(--brand-color-title);
}
.color-block {
  color: var(--brand-color-text);
}

.header-nav {
  display: flex;
  align-items: center;
}
.drei-button {
  display: flex;
  /**align-items: center;**/
}
.studio {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-title);
  /**width: 49px;
  height: 16px;
  top: 32px;
  left: 453px;**/
  margin-right: 50px;
}
.portfolio {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-title);
  /**width: 77px;
  height: 16px;
  top: 32px;
  left: 552px;**/
  margin-right: 50px;
}
.contacts {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-title);
  /**width: 68px;
  height: 16px;**/
}
.zwei-button {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-https {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-text);
  /**width: 135px;
  height: 16px;**/
}
.header-tel {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-text);
  /**width: 122px;
  height: 16px;**/
  margin-left: 50px;
}
/**index**/
/**шапка**/
.hero {
  background-color: var(--brand-color-substrate);
  /**width: 1600px;
  height: 600px;**/
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.effective {
  font-size: 44px;
  line-height: 1.36;
  color: var(--brand-color-name);
  font-weight: 900;
  margin-bottom: 30px;
  /**padding-left: 400px;**/
}
.to-order {
  background-color: var(--brand-color-basic);
  font-size: 16px;
  line-height: 1.82;
  color: var(--brand-color-name);
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
/**особенности**/
.peculiarities {
  /**width: 1170px;
  height: 101px;**/
}
.peculiaritiese {
  /**padding-left: 215px;**/
  display: flex;
  align-items: stretch;
  padding-top: 0px;
}
.block:not(:last-child) {
  margin-right: 30px;
}
.block-name {
  width: 270px;
  height: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.block-text {
  width: 270px;
  height: 75px;
  font-weight: 400;
  color: var(--brand-color-text);
}
/**Чем мы занимаемся**/
.how {
  /**padding-left: 215px;**/
  /**width: 1170px;
  height: 386px;**/
}
.how-a {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  /**padding-bottom: 15px;**/
  text-align: center;
  margin-bottom: 50px;
}
.imgbox-a:not(:last-child) {
  padding-right: 30px;
}
.imgbox {
  /**padding: 15px;**/
  display: flex;
  justify-content: space-between;
}
/**Наша команда**/
.ourteam {
  /** width: 1600px;
  height: 648px;**/
  background: var(--brand-color-back);
}
.our {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  text-align: center;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.fotogrupp {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  width: calc(100% - 30px);
}
.foto-a {
  width: 270px;
  height: 368px;
  padding-right: 30px;
  box-shadow: 0 2px 1px 0 var(--brand-color-text);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.foto-a:not(:last-child) {
  padding-right: 30px;
}
.name-img {
  font-size: 16px;
  line-height: 1.2;
  color: var(--brand-color-title);
  font-weight: 500;
  /**text-align: center;**/
}
.name-specialitat {
  font-size: 16px;
  color: var(--brand-color-text);
  font-weight: 400;
  /**text-align: center;**/
}

.name-i-s {
  padding-top: 30px;
  /**padding-bottom: 59px;**/
  text-align: center;
}

/**portfolio**/
/**button**/
.button-poster {
  /**width: 1170px;
  /height: 1360px;**/
  display: block;
  padding-bottom: 94px;
}
.button {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color-title);
  font-weight: 500;
}
.button-all {
  text-align: center;
}
.alle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
  margin-bottom: 50px;
}
.button-alle {
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.button-all:not(:last-child) {
  margin-right: 8px;
}

.button-a {
  height: 38px;
  width: 73px;
}
.button-b {
  height: 38px;
  width: 128px;
}
.button-c {
  height: 38px;
  width: 145px;
}
.button-d {
  height: 38px;
  width: 103px;
}
.button-e {
  height: 38px;
  width: 130px;
}
.poster {
  display: flex;
  flex-wrap: wrap;
  /**margin-bottom: 30px;
  justify-content: space-around;**/
}
.poster-blank:not(:last-child) {
  margin-bottom: 30px;
  margin-right: 20px;
}

/**.poster-ale:not(:last-child) {
  margin-right: 25px;
}**/

.poster-blank {
  display: flex;
  width: 370px;
  height: 404px;
}

.poster-foto {
  text-decoration: none;
}
.poster-name {
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color-title);
  font-weight: 700;
  margin-bottom: 4px;
  margin-left: 24px;
  /**cursor: pointer;**/
}
.poster-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--brand-color-text);
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 24px;
  /**cursor: pointer;**/
}

/**подвал**/
.footer {
  background-color: var(--brand-color-substrate);
  font-weight: 400;
  /**width: 1600px;**/
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.adress-adress {
  color: var(--brand-color-name);
}
.adress {
  color: var(--brand-color-name);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.footer-adress {
  font-style: normal;
  font-weight: 400;
  color: var(--brand-color-text);
  text-decoration: none;
}
.footer-httpsinfom {
  font-style: normal;
  font-weight: 400;
  color: var(--brand-color-text);
  text-decoration: none;
}
.footer-tel {
  font-style: normal;
  font-weight: 400;
  color: var(--brand-color-text);
  text-decoration: none;
}
