/**основные цвета**/
:root {
  --brand-color-title: #212121;
  --brand-color-text: #757575;
  --brand-color-substrate: #2f303a;
  --brand-color-basic: #2196f3;
  --brand-color-name: #ffffff;
}
/**изменения цвета кнопки**/
.header .color-block:hover,
.header .color-block:focus,
.header .color-block-a:hover,
.header .color-block-a:focus {
  background-color: var(--brand-color-name);
  color: var(--brand-color-basic);
}

.button .button-alle:hover,
.button .button-alle:focus {
  background-color: var(--brand-color-basic);
  color: var(--brand-color-name);
}

.adress .footer-a:hover,
.adress .footer-a:focus {
  color: var(--brand-color-name);
}

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}

body {
  font-family: Roboto;
  color: var(--brand-color-title);
  font-size: 14px;
  line-height: 1.72;
  background-color: var(--brand-color-name);
  letter-spacing: 0.03em;
  /**width: 1600px;**/
}

/**верхняя линия**/
.header {
  width: 1600px;
  height: 80px;
}
.web-studio {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  color: var(--brand-color-basic);
  font-weight: 700;
  text-decoration: none;
  width: 145px;
  height: 31px;
}
.heder-web {
  color: var(--brand-color-title);
}
.footer-studio {
  color: var(--brand-color-name);
}
.color-block-a {
  color: var(--brand-color-title);
}
.color-block {
  color: var(--brand-color-text);
}
.drei-button {
}
.studio {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-title);
  width: 49px;
  height: 16px;
}
.portfolio {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-title);
  width: 77px;
  height: 16px;
}
.contacts {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-title);
  width: 68px;
  height: 16px;
}

.zwei-button {
}

.header-https {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-text);
  width: 135px;
  height: 16px;
}
.header-tel {
  font-weight: 500;
  line-height: 1.17;
  color: var(--brand-color-text);
  width: 122px;
  height: 16px;
}

/**index**/
/**шапка**/
.cap {
  background-color: var(--brand-color-substrate);
  width: 1600px;
  height: 600px;
}
.effective {
  font-size: 44px;
  line-height: 1.36;
  color: var(--brand-color-name);
  font-weight: 900;
  width: 696px;
  height: 120px;
}

.to-order {
  background-color: var(--brand-color-basic);
  font-size: 16px;
  line-height: 1.82;
  color: var(--brand-color-name);
  font-weight: 700;
  /**cursor: pointer;**/
}

/**особенности**/
.peculiarities {
  width: 1170px;
  height: 101px;
}

.peculiaritiese {
  display: flex;
}

.block-name {
  font-weight: 700;
}
.block-text {
  font-weight: 400;
  color: var(--brand-color-text);
}

/**Чем мы занимаемся**/
.how {
  width: 1170px;
  height: 386px;
}
.how-a {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}
.imgbox {
  display: flex;
}

/**Наша команда**/
.ourteam {
  width: 1600px;
  height: 648px;
}
.our {
  font-size: 36px;
  line-height: 1.17;
  color: var(--brand-color-title);
  font-weight: 700;
}

.fotogrupp {
  display: flex;
}
.name-img {
  font-size: 16px;
  line-height: 1.2;
  color: var(--brand-color-title);
  font-weight: 500;
}
.name-specialitat {
  font-size: 16px;
  color: var(--brand-color-text);
  font-weight: 400;
}

/**portfolio**/
/**button**/
.button-poster {
  width: 1170px;
  height: 1360px;
}
.button {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color-title);
  font-weight: 500;
}

.alle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-a {
  border: none;
  cursor: pointer;
  height: 38px;
  width: 73px;
}

.button-b {
  border: none;
  cursor: pointer;
  height: 38px;
  width: 128px;
}
.button-c {
  border: none;
  cursor: pointer;
  height: 38px;
  width: 145px;
}
.button-d {
  border: none;
  cursor: pointer;
  height: 38px;
  width: 103px;
}
.button-e {
  border: none;
  cursor: pointer;
  height: 38px;
  width: 130px;
}
.poster {
  display: flex;
  flex-wrap: wrap;
}
.poster-foto {
  text-decoration: none;
}
.poster-name {
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color-title);
  font-weight: 700;
  /**cursor: pointer;**/
}
.poster-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--brand-color-text);
  font-weight: 400;
  /**cursor: pointer;**/
}

/**подвал**/
.footer {
  background-color: var(--brand-color-substrate);
  font-weight: 400;
  width: 1600px;
  height: 252px;
}
.dress-adress {
  color: var(--brand-color-name);
}

.adress {
  color: var(--brand-color-name);
}
.footer-adress {
  font-style: normal;
  font-weight: 400;
  color: var(--brand-color-text);
  text-decoration: none;
}
.footer-httpsinfom {
  font-style: normal;
  font-weight: 400;
  color: var(--brand-color-text);
  text-decoration: none;
}
.footer-tel {
  font-style: normal;
  font-weight: 400;
  color: var(--brand-color-text);
  text-decoration: none;
}
